{% extends 'flatpages/default.html' %}


{% block content %}
<h1>Информация о пользователе</h1>
<hr>
    {% if accounts_info %}
            <h3>
                <ul>
                    <li>Никнейм : {{ accounts_info.username }}</li><br>
                    <li>Имя : {{ accounts_info.first_name }}</li>
                    <li>Фамилия : {{ accounts_info.last_name }}</li>
                    <li>Почта : {{ accounts_info.email }}</li>
                    <li>Дата регистрации : {{ accounts_info.dateCreation|date:"d.M.Y" }}</li>
                    <li>
                        Статус : {% if is_not_author %}
                                    Читатель
                                 {% else %}
                                    Автор
                                 {% endif %}
                    </li>
                </ul>
            </h3>
            <hr>
                <li>
                    {% if is_not_author %}
                        <button> <a href="upgrade/"> Хочу стать Автором!</a> </button>
                    {% endif %}
                </li>
            <hr>

            <button> <a href="/profile/{{request.user.id}}/update_profile"> Редактировать профиль</a> </button>

            <!— Не забываем закрыть HTML-тег строки —>

    {% endif %}

{% endblock content %}