{% extends 'flatpages/default.html' %}


{% block content %}
<h1>Информация о пользователе</h1>
<hr>
    {% if accounts_info %}
            <h3>
                <tr>
                    <td>Никнейм : {{ accounts_info.username }}</td>
                    <td>Имя : {{ accounts_info.first_name }}</td>
                    <td>Фамилия : {{ accounts_info.last_name }}</td>
                    <td>Почта : {{ accounts_info.email }}</td>
                    <td>Дата регистрации : {{ accounts_info.dateCreation|date:"d.M.Y" }}</td>
                    <td>
                        Статус : {% if is_not_Author %}
                                    Не Автор
                                 {% else %}
                                    Автор
                                 {%endif %}
                    </td>
                </tr>
            </h3>
                <button> <a href="/profile/{{request.user.id}}/update_profile"> Редактировать профиль</a> </button>

            <!— Не забываем закрыть HTML-тег строки —>

    {% endif %}

{% endblock content %}