<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% extends 'flatpages/default.html' %}
             {% load custom_filters %}
            {% load custom_tags %}
            {% load profanity %}

        </title>

    </head>
    <body>

        {% block title %}
        News
        {% endblock title %}

        {% block content %}
            <h1>Все статьи</h1>
            <h3>{% current_time '%b %d %Y' %}</h3>
            <h3>{{ next_sale|default_if_none:"Чуть позже сообщим о свежих новостях!" }}</h3>
            <hr>
                {% if News %}
                    <table> <!— Начинаем описывать таблицу —>
                        <tr> <!— Добавляем строку —>
                            <td>ID статьи</td>
                            <td>Дата</td>
                            <td>Статья</td>
                            <td>Текст</td>
                            <td>Автор</td>

                            {% for post in News %}
                                <tr>
                                    <td>{{ post.id }}</td>
                                    <td>{{ post.dateCreation|date:"d.M.Y H:i" }}</td>
                                    <td>{{ post.title|censor }}</td>
                                    <td>{{ post.text|truncatechars:20 |censor }}</td>
                                    <td>{{ post.author.authorUser }}</td>
                                </tr>
                            {% endfor %}
                        </tr> <!— Не забываем закрыть HTML-тег строки —>
                    </table> <!— ... и таблицы —>
                {% else %}
                    <h2>Новостей нет!</h2>
                {% endif %}
        {% endblock content %}

    </body>
</html>
