<!DOCTYPE html>
<html>
<head>
<title>{{ flatpage.title }}</title>
</head>
<body>
{{ flatpage.content }}
<h2>Или нет?)</h2>
<p><span style="color: #ff0000;">Ладно, тест&nbsp;<em>Wysiwyg</em>-редактора.</span></p>
<p><span style="color: #ff0000;">Банально.&nbsp;</span></p>
<p><span style="color: #00ff00;">Т.е. цвет задается через style="x", где X - HEX. Окей.</span></p>
<p>&nbsp;Что еще ты можешь...&nbsp;<em>Ооо, курсив!</em></p>
<p><span style="background-color: #ffcc00;">Лан, на этом хватит. Хе)</span></p>
<p>&nbsp;Спасибо за проверку)</p>
</body>
</html>